{% extends 'app/index.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block main-content %}
{% block banner-slider %}
  <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
    centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
    <swiper-slide><img src="{% static 'app/images/Brand Logo.png' %}" alt="Brand Logo"></swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
    <swiper-slide>Slide 8</swiper-slide>
    <swiper-slide>Slide 9</swiper-slide>
  </swiper-container>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

{% endblock banner-slider %}

<div class="container">
  <div class="row bg-success text-center p-5 text-white border-bottom shadow">
    <h1>Our Services</h1>
    <p>
        At PAUCEK Clothing Store, we pride ourselves on offering an exceptional shopping experience tailored to meet your fashion needs. Our diverse collection caters to men, women, and children, ensuring stylish options for every occasion. We provide personalized styling consultations to help you find the perfect outfit. Enjoy our fast and reliable shipping services, along with hassle-free returns and exchanges. Our dedicated customer support team is available to assist you with any queries. We also offer exclusive promotions and loyalty rewards for our valued customers. Shop with us for the latest trends and timeless classics in fashion.</p>
  </div>
</div>

<div class="container">
    <h2 class="text-center">Our Collections</h2>
    <div class="container">
      <br><br>
      <div class="row">
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
          <div class="goodnesssec buttermilk smbg">
            <a href="#">
              <div class="goodnesssecount text-center">
                <img src="{% static 'app/images/products/.png' %}" class="img-responsive" alt="">
                <p class="mlkpro">Mens Wears</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
          <div class="goodnesssec buttermilk smbg">
            <a href="#">
              <div class="goodnesssecount text-center">
                <img src="{% static 'app/images/products/.png' %}" class="img-responsive" alt="">
                <p class="mlkpro">Casual Wears</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
          <div class="goodnesssec buttermilk smbg">
            <a href="#">
              <div class="goodnesssecount text-center">
                <img src="{% static 'app/images/products/.png' %}" class="img-responsive" alt="">
                <p class="mlkpro">Formal Wears</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
          <div class="goodnesssec buttermilk smbg">
            <a href="#">
              <div class="goodnesssecount text-center">
                <img src="{% static 'app/images/products/.png' %}" class="img-responsive" alt="">
                <p class="mlkpro">Womens Wears</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
          <div class="goodnesssec buttermilk smbg">
            <a href="#">
              <div class="goodnesssecount text-center">
                <img src="{% static 'app/images/products/.png' %}" class="img-responsive" alt="">
                <p class="mlkpro">Kids Wears</p>
              </div>
            </a>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name: none;">
          <div class="goodnesssec buttermilk smbg">
            <a href="#">
              <div class="goodnesssecount text-center">
                <img src="{% static 'app/images/products/.png' %}" class="img-responsive" alt="">
                <p class="mlkpro">Accessories</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock main-content %}
